/* - Grey 800: hsl(0, 0%, 12%)
- Grey 900: hsl(0, 0%, 8%) */
:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 20%);
  --grey900: hsl(0, 0%, 8%);
  --grey800: hsl(0, 0%, 12%);
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

html,
body {
  font-family: "Inter", sans-serif;
}
.container {
  background-color: var(--grey800);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 12px;
  padding: 30px 12px;
  row-gap: 12px;
}
p {
  color: var(--white);
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
h1 {
  color: var(--white);
  font-family: "Inter", sans-serif;
  font-weight: 700;
}
h3 {
  color: var(--green);
  font-weight: "Inter", sans-serif;
  font-weight: 600;
  margin-bottom: 16px;
}
div.main-container {
  background-color: var(--grey900);
  width: 1440px;
  height: 1280px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
}

.beautiful-woman {
  border-radius: 50%;
}

button {
  padding: 10px;
  width: 260px;
  border-radius: 10px;
  background-color: var(--grey);
  color: var(--white);
}

.social-item {
  margin-bottom: 8px;
}
/* 
.social-item:hover button {
  background-color: var(--green);
  color: black;
} */
.social-item button:hover {
  background-color: var(--green);
  color: black;
}

.social-item button:focus {
  background-color: var(--green);
  color: black;
}

/* 
.social-links {
  margin-bottom: 100px;
} */

p {
  font-size: 14px;
  margin-bottom: 6px;
}

.attribution {
  visibility: hidden;
}
